#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
#include <physical_layouts.dtsi>


/ {
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <12>; // Length of the "col-gpios" array
        rows = <6>; // Length of the "row-gpios" array
        map = <
            RC(0, 0)  RC(0, 1)  RC(0, 2)  RC(0, 3)  RC(0, 4)    RC(3,10)  RC(3, 9)  RC(3, 8)  RC(3, 7)  RC(3, 6)
            RC(1, 0)  RC(1, 1)  RC(1, 2)  RC(1, 3)  RC(1, 4)    RC(4,10)  RC(4, 9)  RC(4, 8)  RC(4, 7)  RC(4, 6)
            RC(2, 0)  RC(2, 1)  RC(2, 2)  RC(2, 3)  RC(2, 4)    RC(5,10)  RC(5, 9)  RC(5, 8)  RC(5, 7)  RC(5, 6)
                                RC(0, 5)  RC(1, 5)  RC(2, 5)    RC(5,11)  RC(4,11)  RC(3,11)
        >;
    };
};

/ {
    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;

        col-gpios
            = <&gpio0 27 GPIO_ACTIVE_HIGH>
            , <&gpio0 26 GPIO_ACTIVE_HIGH>
            , <&gpio0 22 GPIO_ACTIVE_HIGH>
            , <&gpio0 21 GPIO_ACTIVE_HIGH>
            , <&gpio0 20 GPIO_ACTIVE_HIGH>
            , <&gpio0 19 GPIO_ACTIVE_HIGH>
            , <&gpio0 6 GPIO_ACTIVE_HIGH>
            , <&gpio0 7 GPIO_ACTIVE_HIGH>
            , <&gpio0 9 GPIO_ACTIVE_HIGH>
            , <&gpio0 10 GPIO_ACTIVE_HIGH>
            , <&gpio0 11 GPIO_ACTIVE_HIGH>
            , <&gpio0 12 GPIO_ACTIVE_HIGH>
            ;

        row-gpios
            = <&gpio0 23 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 29 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 28 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
};

/ {
    physical_layout0: physical_layout_0 { // First physical layout, use different naming for other layouts
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>; // Label of the kscan node, optional if all layouts use the same
        transform = <&default_transform>; // Label of the matrix transform for this layout

        keys  //                     w   h    x    y     rot    rx    ry
        = <&key_physical_attrs 100 100    0    0       0     0     0>
        , <&key_physical_attrs 100 100  100    0       0     0     0>
        , <&key_physical_attrs 100 100  200    0       0     0     0>
        , <&key_physical_attrs 100 100  300    0       0     0     0>
        , <&key_physical_attrs 100 100  400    0       0     0     0>
        , <&key_physical_attrs 100 100  600    0       0     0     0>
        , <&key_physical_attrs 100 100  700    0       0     0     0>
        , <&key_physical_attrs 100 100  800    0       0     0     0>
        , <&key_physical_attrs 100 100  900    0       0     0     0>
        , <&key_physical_attrs 100 100 1000    0       0     0     0>
        , <&key_physical_attrs 100 100    0  100       0     0     0>
        , <&key_physical_attrs 100 100  100  100       0     0     0>
        , <&key_physical_attrs 100 100  200  100       0     0     0>
        , <&key_physical_attrs 100 100  300  100       0     0     0>
        , <&key_physical_attrs 100 100  400  100       0     0     0>
        , <&key_physical_attrs 100 100  600  100       0     0     0>
        , <&key_physical_attrs 100 100  700  100       0     0     0>
        , <&key_physical_attrs 100 100  800  100       0     0     0>
        , <&key_physical_attrs 100 100  900  100       0     0     0>
        , <&key_physical_attrs 100 100 1000  100       0     0     0>
        , <&key_physical_attrs 100 100    0  200       0     0     0>
        , <&key_physical_attrs 100 100  100  200       0     0     0>
        , <&key_physical_attrs 100 100  200  200       0     0     0>
        , <&key_physical_attrs 100 100  300  200       0     0     0>
        , <&key_physical_attrs 100 100  400  200       0     0     0>
        , <&key_physical_attrs 100 100  600  200       0     0     0>
        , <&key_physical_attrs 100 100  700  200       0     0     0>
        , <&key_physical_attrs 100 100  800  200       0     0     0>
        , <&key_physical_attrs 100 100  900  200       0     0     0>
        , <&key_physical_attrs 100 100 1000  200       0     0     0>
        , <&key_physical_attrs 100 100  200  300       0     0     0>
        , <&key_physical_attrs 100 100  300  300       0     0     0>
        , <&key_physical_attrs 100 100  400  300       0     0     0>
        , <&key_physical_attrs 100 100  600  300       0     0     0>
        , <&key_physical_attrs 100 100  700  300       0     0     0>
        , <&key_physical_attrs 100 100  800  300       0     0     0>
        ;
    };
};

/ {
    chosen {
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };
};